{% extends 'base.html.twig' %}

{% block content %}
	
<div id="banner-area">
	<img src="images/banner/banner1.jpg" alt=""/>
	<div class="parallax-overlay"></div>
	<!-- Subpage title start -->
	<div class="banner-title-content">
		<div class="text-center">
			<h2>Notre parcours</h2>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb justify-content-center">
					<li class="breadcrumb-item">
						<a href="/">Accueil</a>
					</li>
					<li class="breadcrumb-item text-white" aria-current="devis">Historique</li>
				</ol>
			</nav>
		</div>
	</div>
	<!-- Subpage title end -->
</div>
<!-- Banner area end -->
<br>
<section id="main-container">
	<div class="container">
		<div class="row">
			<div class="col-md-12 heading">
				<span class="title-icon classic float-left">
					<i class="fa fa-users"></i>
				</span>
				<h2 class="title classic">A propos</h2>
			</div>
		</div>
		<div class="row text-center">
            <div class="text">
                <p align="justify">Au lendemain de la Conférence Nationale des Forces Vives de février 1992, le Bénin a choisi l’option du libéralisme économique et politique. Fortement inspirée par cette nouvelle orientation et fortement motivée par leur désir de participer activement à l’édification d’un bénin économiquement prospère, un groupe d’opérateurs économiques Béninois, a décidé en 1999 de créer une compagnie d’assurance dont l’actionnariat est exclusivement Béninois : La Générale des Assurances du Bénin.</p>
                <p align="justify">Agréée sous le numéro …. Elle opère en IARD depuis 1999.</p>
                <p align="justify">Elle a son siège social sis sur le boulevard St Michel – Immeuble GAB – Face Centre de Promotion de l’Artisanat à Cotonou.</p>
                <p align="justify">Conditionnée aujourd’hui par sa nouvelle vision prospective d’expansion géographique, la Générale des Assurances du Bénin devient La Générale des Assurances</p>
            </p></div>

		</div>

    <div class="row">
        <div class="col-md-12 heading">
            <span class="title-icon classic float-left">
                <i class="fa fa-arrows-h"></i>
            </span>
            <h2 class="title classic">Positionnement de la GAB</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="text">
            <p align="justify">La Générale des Assurances du Bénin est une compagnie d’Assurance qui opère sur le marché Béninois depuis une quinzaine d’années. Il y a trois ans l’actionnariat a décidé de donner une nouvelle dynamique à cette compagnie. Cette décision induit de nouveaux défis et une nouvelle approche du client.<br/>
                Aujourd’hui, elle se positionne comme une alternative crédible sur le marché Béninois des Assurances. Les éléments<br/>
                d’information qui suivent renseignent d’avantage sur la compagnie et ses activités.</p>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12 heading">
            <span class="title-icon classic float-left">
                <i class="fa fa-font-awesome"></i>
            </span>
            <h2 class="title classic">Solidité financière de la GAB</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="text">
            <p align="justify">La Générale des Assurances  dispose d’une solide assise financière. L’ensemble du marché bancaire national la reconnait non seulement comme un partenaire privilégié mais aussi comme l’un des plus grands contributeurs au financement de l’économie nationale de par la qualité et l’envergure de ses placements.Les successives  augmentations de capital observées au fil des années ne traduisent en aucun cas un malaise financier de la société. Bien au contraire,les actionnaires ont décidé accroître la capacité de financement des activités de l’entreprise afin d’améliorer ses services et ses performances.Ces différentes augmentations  viennent conforter l’entreprise et renforcer la confiance placée en elle par la clientèle.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 heading">
            <span class="title-icon classic float-left">
                <i class="fa fa-line-chart"></i>
            </span>
            <h2 class="title classic">Evolution du chiffre d’affaires</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="text">
            <ul>
                <li>
                    <div class="text-holder">
                        <h4>2012</h4>
                        <p>1.713.633.855</p>
                    </div>
                </li>
            
       
                <li>
                    <div class="text-holder">
                        <h4>2013</h4>
                        <p>2.195.303.176</p>
                    </div>
                </li>

                <li>
                    <div class="text-holder">
                        <h4>2014</h4>
                        <p>2.585.275.906</p>
                    </div>    
                </li>
            </ul>
            <p>La Générale des Assurances dispose d’une marge de solvabilité de plus de 200 % et elle couvre à 113%<br/>ses engagements réglementés.</p>
        </div>
    </div>

		<!--/ Content row end -->
 </div>
	<!--/ container end -->

</section>
<!--/ Main container end -->



{% endblock %}

