{% extends 'base.html.twig' %}

{% block content %}
	<div id="banner-area">
		<img src="images/banner/banner1.jpg" alt=""/>
		<div class="parallax-overlay"></div>
		<!-- Subpage title start -->
		<div class="banner-title-content">
			<div class="text-center">
				<h2>Notre équipe</h2>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb justify-content-center">
						<li class="breadcrumb-item">
							<a href="/">Accueil</a>
						</li>
						<li class="breadcrumb-item text-white" aria-current="devis">Organisation</li>
					</ol>
				</nav>
			</div>
		</div>
		<!-- Subpage title end -->
	</div>
	<!-- Banner area end -->
	<br>
<section id="main-container">
	<div class="container">
		<div class="row">
			<div class="col-md-12 heading">
				<span class="title-icon classic float-left">
					<i class="fa fa-users"></i>
				</span>
				<h2 class="title classic">Notre équipe</h2>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-3 col-sm-6">
				<div class="team wow slideInLeft">
					<div class="img-square">
						<img src="images/organisation/dg.jpg" alt="">
						<span class="img-top"></span>
						<span class="img-bottom"></span>
					</div>
					<div class="team-content">
						<h3>AFFAGNON Christian</h3>
						<p>Directeur Général</p>
						<div class="team-social">
							<a class="fb" href="#">
								<i class="fa fa-facebook"></i>
							</a>
							<a class="twt" href="#">
								<i class="fa fa-twitter"></i>
							</a>
							<a class="gplus" href="#">
								<i class="fa fa-google-plus"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!--/ Team 1 end -->
			<div class="col-md-3 col-sm-6">
				<div class="team wow slideInLeft">
					<div class="img-square">
						<img src="images/organisation/ig.jpg" alt="">
						<span class="img-top"></span>
						<span class="img-bottom"></span>
					</div>
					<div class="team-content">
						<h3>HOUNKPE Gaudens</h3>
						<p>Inspecteur Général</p>
						<div class="team-social">
							<a class="fb" href="#">
								<i class="fa fa-facebook"></i>
							</a>
							<a class="twt" href="#">
								<i class="fa fa-twitter"></i>
							</a>
							<a class="gplus" href="#">
								<i class="fa fa-google-plus"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!--/ Team 2 end -->
			<div class="col-md-3 col-sm-6">
				<div class="team wow slideInRight">
					<div class="img-square">
						<img src="images/organisation/cg.jpg" alt="">
						<span class="img-top"></span>
						<span class="img-bottom"></span>
					</div>
					<div class="team-content">
						<h3>MOLOKE Cyprien</h3>
						<p>Contrôleur de Gestion</p>
						<div class="team-social">
							<a class="fb" href="#">
								<i class="fa fa-facebook"></i>
							</a>
							<a class="twt" href="#">
								<i class="fa fa-twitter"></i>
							</a>
							<a class="gplus" href="#">
								<i class="fa fa-google-plus"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!--/ Team 3 end -->
			<div class="col-md-3 col-sm-6">
				<div class="team animate wow slideInRight">
					<div class="img-square">
						<img src="images/organisation/dt.jpg" alt="">
						<span class="img-top"></span>
						<span class="img-bottom"></span>
					</div>
					<div class="team-content">
						<h3>GANDAHO Maurille</h3>
						<p>Directeur Technique</p>
						<div class="team-social">
							<a class="fb" href="#">
								<i class="fa fa-facebook"></i>
							</a>
							<a class="twt" href="#">
								<i class="fa fa-twitter"></i>
							</a>
							<a class="gplus" href="#">
								<i class="fa fa-google-plus"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!--/ Team 4 end -->
		</div>	<br>

        <div class="row text-center">
            <div class="col-md-3 col-sm-6">
                <div class="team wow slideInLeft">
                    <div class="img-square">
                        <img src="images/organisation/dcf.jpg" alt="">
                        <span class="img-top"></span>
                        <span class="img-bottom"></span>
                    </div>
                    <div class="team-content">
                        <h3>ALISSOUTIN A. Irène</h3>
                        <p>Directrice Comptable & Financier</p>
                        <div class="team-social">
                            <a class="fb" href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a class="twt" href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="gplus" href="#">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Team 1 end -->
            <div class="col-md-3 col-sm-6">
                <div class="team wow slideInLeft">
                    <div class="img-square">
                        <img src="images/organisation/dc.jpg" alt="">
                        <span class="img-top"></span>
                        <span class="img-bottom"></span>
                    </div>
                    <div class="team-content">
                        <h3>ODOUNHARO Francis</h3>
                        <p>Directeur Commercial</p>
                        <div class="team-social">
                            <a class="fb" href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a class="twt" href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="gplus" href="#">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Team 2 end -->
            <div class="col-md-3 col-sm-6">
                <div class="team wow slideInRight">
                    <div class="img-square">
                        <img src="images/organisation/csi.jpg" alt="">
                        <span class="img-top"></span>
                        <span class="img-bottom"></span>
                    </div>
                    <div class="team-content">
                        <h3>CODJA Edwige</h3>
                        <p>Chef Service Informatique</p>
                        <div class="team-social">
                            <a class="fb" href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a class="twt" href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="gplus" href="#">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Team 3 end -->
            <div class="col-md-3 col-sm-6">
                <div class="team animate wow slideInRight">
                    <div class="img-square">
                        <img src="images/organisation/rh.jpg" alt="">
                        <span class="img-top"></span>
                        <span class="img-bottom"></span>
                    </div>
                    <div class="team-content">
                        <h3>LAURIANO Hasir</h3>
                        <p>Responsable Administratif</p>
                        <div class="team-social">
                            <a class="fb" href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a class="twt" href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="gplus" href="#">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Team 4 end -->
        </div>

		<!--/ Content row end -->
	</div>
	<!--/ container end -->

</section>
<!--/ Main container end -->


{% endblock %}

{% block javascripts %}
<!-- jQuery -->
<script src="plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<!-- Style Switcher -->
<script type="text/javascript" src="plugins/style-switcher.js"></script>
<!-- Owl Carousel -->
<script type="text/javascript" src="plugins/owl/owl.carousel.js"></script>
<!-- PrettyPhoto -->
<script type="text/javascript" src="plugins/jquery.prettyPhoto.js"></script>
<!-- Bxslider -->
<script type="text/javascript" src="plugins/flex-slider/jquery.flexslider.js"></script>
<!-- CD Hero slider -->
<script type="text/javascript" src="plugins/cd-hero/cd-hero.js"></script>
<!-- Isotope -->
<script type="text/javascript" src="plugins/isotope.js"></script>
<script type="text/javascript" src="plugins/ini.isotope.js"></script>
<!-- Wow Animation -->
<script type="text/javascript" src="plugins/wow.min.js"></script>
<!-- Eeasing -->
<script type="text/javascript" src="plugins/jquery.easing.1.3.js"></script>
<!-- Counter -->
<script type="text/javascript" src="plugins/jquery.counterup.min.js"></script>
<!-- Waypoints -->
<script type="text/javascript" src="plugins/waypoints.min.js"></script>

<!-- Main Script -->
<script src="js/script.js"></script>


{% endblock %}