{% extends "stepper.html.twig" %}

{% block titre "Tout Risque Construction" %}

{% block step1 %}
	<form class="form-horizontal form-label-left">

		<table width="100%" border="1" cellspacing="1" cellpadding="1">
			<tr>
				<td>
					<div class="form-group row">

						<label for="username" class="col-sm-3 col-form-label">Nom ou Raison Sociale :</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="nom">
						</div>
					</div>
					<div class="form-group row">
						<label for="activity" class="col-sm-3 col-form-label">Adresse Postale :</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="bp">
						</div>
					</div>
				</td>
				<td>
					<div class="form-group row">

						<label for="username" class="col-sm-4 col-form-label">Ville & Quartier :</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="quartier">
						</div>
					</div>
					<div class="form-group row">

						<label for="username" class="col-sm-4 col-form-label">Téléphone :</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="tel">
						</div>
					</div>

					<div class="form-group row">
						<label for="activity" class="col-sm-4 col-form-label">Mail :</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="mail">
						</div>
					</div>
				</td>

			</tr>
		</table><br/>

		<table width="100%" border="1" cellspacing="1" cellpadding="1">
			<tr>
				<td>
					<div class="form-group row">

						<label for="username" class="col-sm-3 col-form-label">Nom ou Raison Sociale :</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="nom">
						</div>
					</div>
					<div class="form-group row">
						<label for="activity" class="col-sm-3 col-form-label">Adresse Postale :</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="bp">
						</div>
					</div>
				</td>
				<td>
					<div class="form-group row">

						<label for="username" class="col-sm-4 col-form-label">Ville & Quartier :</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="quartier">
						</div>
					</div>
					<div class="form-group row">

						<label for="username" class="col-sm-4 col-form-label">Téléphone :</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="tel">
						</div>
					</div>

					<div class="form-group row">
						<label for="activity" class="col-sm-4 col-form-label">Mail :</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="mail">
						</div>
					</div>
				</td>

			</tr>
		</table><br/>


	</form>


	REMARQUE  IMPORTANTE :  Il y a lieu de joindre à la présente proposition :<br/>


	• Pour l’obtention des garanties « cours de travaux ou pendant les travaux » :

	<ul>Une copie du marché et du cahier des charges (causes assurances) et un croquis de situation et un plan de masse.</ul>

	<ul>
		Le planning d’avancement des travaux et la liste des coûts des travaux par lot.</ul>

	<ul>Un rapport du bureau d’études de sol, s’il existe.</ul>

	<ul>
		Le rapport initial de définition des risques du Bureau de Contrôle</ul>
{% endblock %}
